@model Portfolio.Helper.Dtos.ProjectDto
@{
    ViewData["Title"] = "CreateProject";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Anasayfa Portfolio işlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post" enctype="multipart/form-data">
					<div class="card">
						<div class="card-header">
							<div class="card-title">Yeni Proje Girişi</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="title">Başlığı Adını Giriniz</label>
								<input type="text" class="form-control" asp-for="Header" id="title">
							</div>

						</div>
						<div class="card-body">
							<div class="form-group">
								@* <label for="ımageurl">Görselin URL ini Giriniz</label>
								<input type="text" class="form-control" asp-for="Image" id="ımageurl"> *@
								<label class="control-label">Resim</label>
								<input asp-for="Image" type="file" name="ImageFile" class="form-control" />
							</div>

						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="description"> Açıklama Giriniz</label>
								<textarea rows="5" class="form-control" asp-for="Description" id="description"></textarea>
							</div>

						</div>
						<div class="card-action">
							<button class="btn btn-primary">Proje ekle</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

