<footer id="footer" class="footer position-relative light-background">

    <div class="container">
        <div class="copyright text-center ">
            <p>© <span>Copyright</span><span>All Rights Reserved</span></p>
        </div>
        <div class="credits">
            <a href="/Login/Index">Admin</a>
        </div>
    </div>

</footer>