<header class="flex items-center justify-between whitespace-nowrap border-b border-slate-200 dark:border-slate-800 px-6 md:px-10 py-4 max-w-7xl mx-auto w-full sticky top-0 z-50 bg-background-light/80 dark:bg-background-dark/80 backdrop-blur-md">
    <div class="flex items-center gap-2">
        <a href="/UILayout/Index" class="flex flex-row items-center gap-2">
            <div class="flex items-center justify-center bg-primary rounded-lg p-1 text-white">
                <span class="material-symbols-outlined text-2xl">terminal</span>
            </div>
            <h2 class="text-slate-900 dark:text-white text-lg font-bold leading-tight tracking-tight hover:text-primary transition-colors">Alper Özdemir</h2>
        </a>
    </div>
    <div class="flex flex-1 justify-end gap-8 items-center">
        <nav class="hidden md:flex items-center gap-8">
            <a class="text-slate-600 dark:text-slate-300 hover:text-primary dark:hover:text-primary transition-colors text-sm font-medium" href="/UILayout/Index#hero">Home</a>
            <a class="text-slate-600 dark:text-slate-300 hover:text-primary dark:hover:text-primary transition-colors text-sm font-medium" href="/UILayout/Index#about">About</a>
            <a class="text-slate-600 dark:text-slate-300 hover:text-primary dark:hover:text-primary transition-colors text-sm font-medium" href="/UILayout/Index#portfolio">Portfolio</a>
            <a class="text-slate-600 dark:text-slate-300 hover:text-primary dark:hover:text-primary transition-colors text-sm font-medium" href="/UILayout/Index#contact">Contact</a>
        </nav>
        <div class="flex gap-4">
            <a href="https://github.com/alperozdmr" class="text-slate-600 border border-slate-300 p-2 rounded-lg dark:border-slate-700 dark:text-slate-300 hover:text-primary dark:hover:text-primary flex items-center justify-center transition-colors"><span class="material-symbols-outlined text-lg">code</span></a>
            <a href="https://www.linkedin.com/in/alper-%C3%B6zdemir-5b9431247/" class="text-slate-600 border border-slate-300 p-2 rounded-lg dark:border-slate-700 dark:text-slate-300 hover:text-primary dark:hover:text-primary flex items-center justify-center transition-colors"><span class="material-symbols-outlined text-lg">work</span></a>
        </div>
        <a href="/UILayout/Index#contact" class="hidden md:flex min-w-[100px] cursor-pointer items-center justify-center rounded-lg h-10 px-5 bg-primary text-white text-sm font-bold transition-all hover:opacity-90 active:scale-95">
            <span>Hire Me</span>
        </a>
    </div>
</header>