@model List<Portfolio.Entity.concrete.ImageList>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Anasayfa Portfolio  İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Proje Listesi</div>
					</div>
					<div class="card-body">
						<div class="card-sub">
							Portfolio proje alanı
						</div>
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Fotoğraf</th>
									<th scope="col">Sil</th>
									<th scope="col">Güncelle</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<td>@count</td>
										<td><img src="@item.ImageUrl" width="100" height="100" /></td>
										<td><a href="/ImageList/DeleteImageList/@item.ID" class="btn btn-outline-danger">Sil</a></td>
										<td><a href="/ImageList/UpdateImageList/@item.ID" class="btn btn-outline-success">Güncelle</a></td>
									</tr>
								}

							</tbody>
						</table>
					</div>
				</div>

			</div>

		</div>
	</div>
</div>

